
.ace_editor { height: 200px; }

ul.unstyled > li {
  list-style-type: none;
}

#success-modal {
  input {
    background-color: #fff;
  }
  .modal-header {
    background-color: #7a8288;
  }
  .modal-footer {
    background-color: #7a8288;
  }
}


#errors {
  .text-success {
    color: #62c462;
  }

  .text-danger {
    color: #ee5f5b;
  }
}

#sidebar {
  margin-top: 25px;
}

#quiz_lists {
  width: 275px;
  position: fixed;

  img {
    width: 270px;
  }

  .list-group-item {
    background-color: rgb(50, 56, 62);

    &:hover {
      background-color: rgb(62, 68, 76);
    }
  }

  .nav-tabs > li > a {
    border-radius: 4px;
  }

  .tab-content {
    margin-top: 10px;
  }
}

.higher_lines {
  line-height: 32px;
}
